In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Student Details capstone project (1)_latest.csv")

In [3]:
data.head()

,Timestamp,Name,Stream of graduation,10th Percentage,12th percentage,10th Maths Marks,"12th Maths Marks(If not, Accounts marks)",School Average,sem-I percent / CGPA (undergraduate),Sem-II percent / CGPA(Undergraduate),...,Sem-V percent / CGPA(Undergraduate),Sem-VI percent / CGPA(Undergraduate),Sem-VII percent / CGPA (for engineering graduate),Sem-VIII percent / CGPA (for engineering graduate),Undergraduate_ Average,CAT/XAT/GMAT,ISME_entrance_test,Placeability_scope,Career Interest,Goals
0,8/15/2019 12:31,palak,Science,76.00,78.00,85.0,78,7.92500,7.20,6.90,...,7.30,7.50,0.00,0.0,7.5,71.35,76,Yes,Insurance,"Actuary, Data scientist, Risk Manager, Data An..."
1,8/15/2019 12:36,Abhishek,Statistics or Mathematics,79.00,83.00,85.0,78,8.12500,5.90,6.17,...,7.20,7.80,0.00,0.0,7.1,74.00,82,Yes,Consultancy,"Associate consultant, Analytics consultant, Da..."
2,8/15/2019 12:47,Mohit Singh,Engineering,68.91,61.38,83.0,58,6.78225,5.33,6.48,...,5.11,5.39,6.33,7.5,5.4,67.00,62,no,Consultancy,"Associate consultant, Analytics consultant, Da..."
3,8/15/2019 13:11,siddhesh kanawa,Arts,62.00,63.00,70.0,68,6.57500,8.10,8.40,...,8.70,9.50,0.00,0.0,9.2,81.00,67,Yes,Business management,"Project Manager, Wealth Manager, Business Ana..."
4,8/15/2019 13:20,Pratiskha Dhanawade,Engineering,73.00,67.00,77.0,63,7.00000,6.30,6.47,...,6.70,7.31,0.00,0.0,7.0,64.00,72,Yes,Consultancy,"Associate consultant, Analytics consultant, Da..."

In [4]:
data.columns

Index(['Timestamp', 'Name', 'Stream of graduation', '10th Percentage',
       '12th percentage', '10th Maths Marks',
       '12th Maths Marks(If not, Accounts marks)', 'School Average',
       'sem-I percent / CGPA (undergraduate)',
       'Sem-II percent / CGPA(Undergraduate)',
       'Sem-III percent / CGPA(Undergraduate)',
       'Sem-IV percent / CGPA(Undergraduate)',
       'Sem-V percent / CGPA(Undergraduate)',
       'Sem-VI percent / CGPA(Undergraduate)',
       'Sem-VII percent / CGPA (for engineering graduate)',
       'Sem-VIII percent / CGPA (for engineering graduate)',
       'Undergraduate_ Average', 'CAT/XAT/GMAT', 'ISME_entrance_test',
       'Placeability_scope', 'Career Interest', 'Goals'],
      dtype='object')

In [5]:
data.drop(columns = ["Name","Goals", "Timestamp", "Career Interest", "School Average","Stream of graduation"], inplace=True)
target = data.Placeability_scope
data.drop(columns = ["Placeability_scope"], inplace=True)

In [6]:
def encode_target(x):
    if x == "Yes":
        return 1
    else:
        return 0

In [7]:
target = target.apply(lambda x: encode_target(x))

In [8]:
target

0     1
1     1
2     0
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    0
11    1
12    1
13    1
14    1
15    1
16    0
17    1
18    1
19    1
20    0
21    1
22    0
23    0
24    0
25    0
26    0
27    0
28    0
Name: Placeability_scope, dtype: int64

In [9]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [10]:
train_X, test_X,train_y, test_y = train_test_split(data,target, test_size = 0.3, random_state = 707)

In [11]:
knn = KNeighborsClassifier()

In [12]:
knn.fit(train_X,train_y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [13]:
preds = knn.predict(test_X)

In [14]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [15]:
print(confusion_matrix(test_y,preds))

[[2 0]
 [0 7]]

In [16]:
print("Accuracy: ", accuracy_score(preds,test_y))

Accuracy:  1.0

In [17]:
output = pd.read_csv("sample.csv")

In [18]:
output.drop(columns = ["Name", "Timestamp", "Career Interest", "School Average","Stream of graduation"], inplace=True)

In [19]:
predic = knn.predict(output)

In [20]:
output.columns

Index(['10th Percentage', '12th percentage', '10th Maths Marks',
       '12th Maths Marks(If not, Accounts marks)',
       'sem-I percent / CGPA (undergraduate)',
       'Sem-II percent / CGPA(Undergraduate)',
       'Sem-III percent / CGPA(Undergraduate)',
       'Sem-IV percent / CGPA(Undergraduate)',
       'Sem-V percent / CGPA(Undergraduate)',
       'Sem-VI percent / CGPA(Undergraduate)',
       'Sem-VII percent / CGPA (for engineering graduate)',
       'Sem-VIII percent / CGPA (for engineering graduate)',
       'Undergraduate_ Average', 'CAT/XAT/GMAT', 'ISME_entrance_test'],
      dtype='object')

In [21]:
output['Placeibility_score'] = (output['12th percentage']*0.05)+(output['10th Maths Marks']*0.10)+(output['12th Maths Marks(If not, Accounts marks)']*0.20)+(output['CAT/XAT/GMAT']*0.30)+(output['Undergraduate_ Average']*0.30)+(output['ISME_entrance_test']*0.05)

In [22]:
output['Placebility_scope']=predic

In [23]:
otp = pd.DataFrame(output)

In [24]:
otp.to_csv(r'outputfile.csv')